#chessed {
  position: relative;
  height: calc(100vh - var(--site-header-height));
}

#chessed ch-editor textarea {
  font-size: 1em;
}

.ply, 
.hover-ply {
  width: 60vmin;
  height: 0;
  padding-bottom: 60vmin;
}

img {
  width: 60vmin;
  margin-left: 1em;
}

.ply {
  position: relative;
  margin-left: 1em;
}
