ch-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

ch-wrap > * {
  flex: 1;
}

ch-preview {
  overflow-y: scroll;
  overflow-x: wrap;
}

ch-editor {
  background: #303030;
  border-right: 1px solid black;
}

ch-editor textarea {
  color: white;
  background: #303030;
  box-sizing: border-box;
  resize: none;
  outline: none;
  width: 100%;
  height: 100%;
}

