#modal-overlay {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 109;
}


#modal-wrap {
  width: 30em;
  padding: 0px;
  background: rgb(38, 36, 33);
  position: relative;
  text-align: center;
}
