section {
  padding: 1em;
}

.publish-link {
  font-size: 1.2em;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.publish-link > input {
  padding: .3em 1em;
  background: #404040;
  outline: none;
  border: none;
  user-select: none;
  color: transparent;
  text-shadow: 0px 0px 1px #c0c0c0;
  box-shadow: 0px 0px 2px black inset;
  transition: all 150ms;
  cursor: pointer;
}

.publish-link > input:hover {
  background: #505050;
}

.publish-link > input::selection {
  color: transparent;
  background: transparent;
}
