:root {
  --md-coord-color-black:#ED7272;
  --md-coord-color-white:#E8E9B7;
}

md-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

md-wrap coords {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
}

md-wrap coords.ranks {
  right: 0;
  top: 0;
  flex-flow: column-reverse;
  height: 100%;
  width: .8em;
}

md-wrap coords.ranks.black {
  flex-flow: column;
}

md-wrap coords.files {
  bottom: 0;
  left: 0;
  flex-flow: row;
  width: 100%;
  height: 1.4em;
  padding-left: 4px;
}

md-wrap coords.files.black {
  flex-flow: row-reverse;
}

md-wrap coords coord {
  flex: 1 1 auto;
}

.white.files coord:nth-child(2n+1),
.white.ranks coord:nth-child(2n),
.black.files coord:nth-child(2n),
.black.ranks coord:nth-child(2n+1) {
  color: var(--md-coord-color-white);
}

.white.files coord:nth-child(2n),
.white.ranks coord:nth-child(2n+1),
.black.files coord:nth-child(2n+1),
.black.ranks coord:nth-child(2n) {
  color: var(--md-coord-color-black);
}

@media (min-width: 320px) {
  coords {
  font-size: calc(9px + 4 * ((100vw - 320px) / 880));
  }
}

md-board {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/board/pink-pyramid.png);
  user-select: none;
  background-size: cover;
  width: 100%;
  height: 100%;
}

md-board square {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  pointer-events: none;
}

md-board square.last-move {
  will-change: transform;
  background-color: rgba(155, 199, 0, 0.41);
}

md-board piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}

md-wrap svg {
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 0.6;
}

span.line .moven {
  user-select: none;
}

span.line .movem {
  user-select: none;
  border-radius: 4px;
}

span.line span.movem:hover {
  background: #ED7272;
  cursor: pointer;
}

span[data-err] {
  color: #ff2222;
}

span.depth0 {
}

span.depth1 {
  font-size: 0.9em;
  color: #ccc;
}

span.depth2 {
  color: #aaa;
  font-size: 0.8em;
  font-style: italic;
}

.hover-ply {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.hover-ply::before {
  position: absolute;
  width: 0%;
  height: 100%;
  content:'';
  z-index: 4;
  background: white;
  transition: width .5s;
}

.hidden.hover-ply::before {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

/* Generated by pieces.js */
 .pawn.white {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgMmg0TTUgM2gxTTEwIDNoMU01IDRoMU0xMCA0aDFNNSA1aDFNMTAgNWgxTTYgNmgxTTkgNmgxTTUgN2gxTTEwIDdoMU01IDhoMU0xMCA4aDFNNiA5aDFNOSA5aDFNNSAxMGgxTTEwIDEwaDFNNCAxMWgxTTExIDExaDFNNCAxMmgxTTExIDEyaDFNNCAxM2g4IiAvPgo8cGF0aCBzdHJva2U9IiNmZGZkZmQiIGQ9Ik02IDNoMSIgLz4KPHBhdGggc3Ryb2tlPSIjZTFlMWUxIiBkPSJNNyAzaDJNNiA0aDFNNiA3aDJNNiAxMGgxTTUgMTFoMk01IDEyaDEiIC8+CjxwYXRoIHN0cm9rZT0iI2E3YTdhNyIgZD0iTTkgM2gxTTkgNGgxTTkgNWgxTTggNmgxTTkgN2gxTTcgOGgzTTggOWgxTTkgMTBoMU0xMCAxMWgxTTYgMTJoNSIgLz4KPHBhdGggc3Ryb2tlPSIjYzFjMWMxIiBkPSJNNyA0aDJNNiA1aDNNNyA2aDFNOCA3aDFNNiA4aDFNNyA5aDFNNyAxMGgyTTcgMTFoMyIgLz4KPC9zdmc+')}
.knight.white {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgMWg0TTQgMmgxTTggMmgzTTUgM2gxTTExIDNoMU00IDRoMU0xMiA0aDFNMyA1aDFNMTIgNWgxTTIgNmgxTTggNmgxTTEyIDZoMU0yIDdoMU01IDdoM00xMiA3aDFNMyA4aDJNNyA4aDFNMTIgOGgxTTYgOWgxTTEyIDloMU01IDEwaDFNMTEgMTBoMU00IDExaDFNMTEgMTFoMU00IDEyaDhNMyAxM2gxTTEyIDEzaDFNMyAxNGgxMCIgLz4KPHBhdGggc3Ryb2tlPSIjZmRmZGZkIiBkPSJNNSAyaDFNNSAxMWgxTTQgMTNoMSIgLz4KPHBhdGggc3Ryb2tlPSIjZTFlMWUxIiBkPSJNNiAyaDFNNiAzaDFNNSA0aDFNNCA1aDFNMyA2aDFNMyA3aDFNOCA3aDFNOCA4aDFNNyA5aDFNNiAxMGgxTTYgMTFoMU01IDEzaDEiIC8+CjxwYXRoIHN0cm9rZT0iI2MxYzFjMSIgZD0iTTcgMmgxTTcgM2gzTTcgNGg0TTUgNWgzTTkgNWgyTTQgNmgzTTkgNmgyTTQgN2gxTTkgN2gyTTkgOGgyTTggOWgzTTcgMTBoM003IDExaDJNNiAxM2gzIiAvPgo8cGF0aCBzdHJva2U9IiNhN2E3YTciIGQ9Ik0xMCAzaDFNMTEgNGgxTTggNWgxTTExIDVoMU03IDZoMU0xMSA2aDFNMTEgN2gxTTExIDhoMU0xMSA5aDFNMTAgMTBoMU05IDExaDJNOSAxM2gzIiAvPgo8cGF0aCBzdHJva2U9IiM0OTQ5NDkiIGQ9Ik02IDRoMSIgLz4KPC9zdmc+')}
.bishop.white {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgMWgyTTYgMmgxTTkgMmgxTTYgM2gxTTkgM2gxTTcgNGgyTTYgNWgxTTkgNWgxTTUgNmgxTTEwIDZoMU00IDdoMU05IDdoMU0xMSA3aDFNNCA4aDFNOCA4aDFNMTEgOGgxTTQgOWgxTTExIDloMU00IDEwaDFNMTEgMTBoMU01IDExaDFNMTAgMTFoMU00IDEyaDhNMyAxM2gxTTEyIDEzaDFNMyAxNGgxMCIgLz4KPHBhdGggc3Ryb2tlPSIjZmRmZGZkIiBkPSJNNyAyaDFNNiA2aDFNNSA3aDEiIC8+CjxwYXRoIHN0cm9rZT0iI2E3YTdhNyIgZD0iTTggMmgxTTggM2gxTTggNWgxTTEwIDdoMU0xMCA4aDFNMTAgOWgxTTEwIDEwaDFNOSAxMWgxTTkgMTNoMyIgLz4KPHBhdGggc3Ryb2tlPSIjZTFlMWUxIiBkPSJNNyAzaDFNNSA4aDFNNSA5aDFNNSAxMGgxTTYgMTFoMU00IDEzaDIiIC8+CjxwYXRoIHN0cm9rZT0iI2MxYzFjMSIgZD0iTTcgNWgxTTcgNmgyTTYgN2gyTTYgOGgyTTkgOGgxTTYgOWg0TTYgMTBoNE03IDExaDJNNiAxM2gzIiAvPgo8L3N2Zz4=')}
.rook.white {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTMgMWgzTTcgMWg2TTMgMmgxTTUgMmgxTTcgMmgxTTEyIDJoMU0zIDNoMU01IDNoM00xMiAzaDFNMyA0aDFNMTIgNGgxTTMgNWgxME00IDZoMU0xMSA2aDFNNSA3aDZNNSA4aDFNMTAgOGgxTTUgOWgxTTEwIDloMU01IDEwaDFNMTAgMTBoMU00IDExaDFNMTEgMTFoMU0zIDEyaDEwTTIgMTNoMU0xMyAxM2gxTTIgMTRoMTIiIC8+CjxwYXRoIHN0cm9rZT0iI2ZkZmRmZCIgZD0iTTQgMmgxTTUgNmgxTTUgMTFoMU0zIDEzaDMiIC8+CjxwYXRoIHN0cm9rZT0iI2MxYzFjMSIgZD0iTTggMmgzTTggM2gzTTUgNGg1TTcgNmgyTTcgOGgyTTcgOWgyTTcgMTBoMk03IDExaDJNNyAxM2gzIiAvPgo8cGF0aCBzdHJva2U9IiNhN2E3YTciIGQ9Ik0xMSAyaDFNMTEgM2gxTTEwIDRoMk05IDZoMk05IDhoMU05IDloMU05IDEwaDFNOSAxMWgyTTEwIDEzaDMiIC8+CjxwYXRoIHN0cm9rZT0iI2UxZTFlMSIgZD0iTTQgM2gxTTQgNGgxTTYgNmgxTTYgOGgxTTYgOWgxTTYgMTBoMU02IDExaDFNNiAxM2gxIiAvPgo8L3N2Zz4=')}
.queen.white {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgMWgyTTYgMmgxTTkgMmgxTTYgM2gxTTkgM2gxTTcgNGgyTTEgNWgxTTE0IDVoMU0yIDZoMk03IDZoMk0xMiA2aDJNMiA3aDFNNCA3aDFNNiA3aDFNOSA3aDFNMTEgN2gxTTEzIDdoMU0yIDhoMU01IDhoMU0xMCA4aDFNMTMgOGgxTTMgOWgxTTEyIDloMU0zIDEwaDFNMTIgMTBoMU00IDExaDFNMTEgMTFoMU00IDEyaDhNMyAxM2gxTTEyIDEzaDFNMyAxNGgxMCIgLz4KPHBhdGggc3Ryb2tlPSIjZmRmZGZkIiBkPSJNNyAyaDFNMyA3aDFNMyA4aDEiIC8+CjxwYXRoIHN0cm9rZT0iI2E3YTdhNyIgZD0iTTggMmgxTTggM2gxTTEyIDdoMU0xMSA4aDJNMTEgOWgxTTEwIDEwaDJNOSAxMWgyTTkgMTNoMyIgLz4KPHBhdGggc3Ryb2tlPSIjZTFlMWUxIiBkPSJNNyAzaDFNNyA3aDFNNCA4aDFNNiA4aDFNNCA5aDJNNCAxMGgyTTUgMTFoMU00IDEzaDIiIC8+CjxwYXRoIHN0cm9rZT0iI2MxYzFjMSIgZD0iTTggN2gxTTcgOGgzTTYgOWg1TTYgMTBoNE02IDExaDNNNiAxM2gzIiAvPgo8L3N2Zz4=')}
.king.white {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgMWgyTTYgMmgxTTkgMmgxTTYgM2gxTTkgM2gxTTMgNGgzTTcgNGgyTTEwIDRoM00yIDVoMU02IDVoMU05IDVoMU0xMyA1aDFNMiA2aDFNNSA2aDFNNyA2aDJNMTAgNmgxTTEzIDZoMU0yIDdoMU02IDdoMU05IDdoMU0xMyA3aDFNMiA4aDFNNCA4aDFNMTEgOGgxTTEzIDhoMU0zIDloMU01IDloMk05IDloMk0xMiA5aDFNMyAxMGgxTTEyIDEwaDFNNCAxMWgxTTExIDExaDFNNCAxMmg4TTMgMTNoMU0xMiAxM2gxTTMgMTRoMTAiIC8+CjxwYXRoIHN0cm9rZT0iI2ZkZmRmZCIgZD0iTTcgMmgxTTMgNWgxIiAvPgo8cGF0aCBzdHJva2U9IiNhN2E3YTciIGQ9Ik04IDJoMU04IDNoMU0xMiA1aDFNMTIgNmgxTTEyIDdoMU0xMiA4aDFNMTEgOWgxTTEwIDEwaDJNOSAxMWgyTTkgMTNoMyIgLz4KPHBhdGggc3Ryb2tlPSIjZTFlMWUxIiBkPSJNNyAzaDFNMyA2aDFNMyA3aDFNMyA4aDFNNCA5aDFNNCAxMGgyTTUgMTFoMU00IDEzaDIiIC8+CjxwYXRoIHN0cm9rZT0iI2MxYzFjMSIgZD0iTTQgNWgyTTEwIDVoMk02IDZoMU05IDZoMU03IDdoMk03IDhoMk03IDloMk02IDEwaDRNNiAxMWgzTTYgMTNoMyIgLz4KPC9zdmc+')}
.pawn.black {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgMmg0TTUgM2gxTTEwIDNoMU01IDRoMU0xMCA0aDFNNSA1aDFNMTAgNWgxTTYgNmgxTTkgNmgxTTUgN2gxTTEwIDdoMU01IDhoMU0xMCA4aDFNNiA5aDFNOSA5aDFNNSAxMGgxTTEwIDEwaDFNNCAxMWgxTTExIDExaDFNNCAxMmgxTTExIDEyaDFNNCAxM2g4IiAvPgo8cGF0aCBzdHJva2U9IiM2ZDZkNmQiIGQ9Ik02IDNoMU02IDdoMU02IDEwaDFNNSAxMWgxIiAvPgo8cGF0aCBzdHJva2U9IiM0OTQ5NDkiIGQ9Ik03IDNoMk02IDRoMU03IDdoMU02IDExaDFNNSAxMmgxIiAvPgo8cGF0aCBzdHJva2U9IiMxNTE1MTUiIGQ9Ik05IDNoMU05IDRoMU05IDVoMU04IDZoMU05IDdoMU03IDhoM004IDloMU05IDEwaDFNMTAgMTFoMU02IDEyaDUiIC8+CjxwYXRoIHN0cm9rZT0iIzI0MjQyNCIgZD0iTTcgNGgyTTYgNWgzTTcgNmgxTTggN2gxTTYgOGgxTTcgOWgxTTcgMTBoMk03IDExaDMiIC8+Cjwvc3ZnPg==')}
.knight.black {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgMWg0TTQgMmgxTTggMmgzTTUgM2gxTTExIDNoMU00IDRoMU02IDRoMU0xMiA0aDFNMyA1aDFNMTIgNWgxTTIgNmgxTTggNmgxTTEyIDZoMU0yIDdoMU01IDdoM00xMiA3aDFNMyA4aDJNNyA4aDFNMTIgOGgxTTYgOWgxTTEyIDloMU01IDEwaDFNMTEgMTBoMU00IDExaDFNMTEgMTFoMU00IDEyaDhNMyAxM2gxTTEyIDEzaDFNMyAxNGgxMCIgLz4KPHBhdGggc3Ryb2tlPSIjNmQ2ZDZkIiBkPSJNNSAyaDFNNSAxMWgxIiAvPgo8cGF0aCBzdHJva2U9IiM0OTQ5NDkiIGQ9Ik02IDJoMU02IDNoMU01IDRoMU00IDVoMU0zIDZoMU0zIDdoMU04IDdoMU04IDhoMU03IDloMU02IDEwaDFNNiAxMWgxTTQgMTNoMiIgLz4KPHBhdGggc3Ryb2tlPSIjMjQyNDI0IiBkPSJNNyAyaDFNNyAzaDNNNyA0aDRNNSA1aDNNOSA1aDJNNCA2aDNNOSA2aDJNNCA3aDFNOSA3aDJNOSA4aDJNOCA5aDNNNyAxMGgzTTcgMTFoMk02IDEzaDMiIC8+CjxwYXRoIHN0cm9rZT0iIzE1MTUxNSIgZD0iTTEwIDNoMU0xMSA0aDFNOCA1aDFNMTEgNWgxTTcgNmgxTTExIDZoMU0xMSA3aDFNMTEgOGgxTTExIDloMU0xMCAxMGgxTTkgMTFoMk05IDEzaDMiIC8+Cjwvc3ZnPg==')}
.bishop.black {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgMWgyTTYgMmgxTTkgMmgxTTYgM2gxTTkgM2gxTTcgNGgyTTYgNWgxTTkgNWgxTTUgNmgxTTEwIDZoMU00IDdoMU05IDdoMU0xMSA3aDFNNCA4aDFNOCA4aDFNMTEgOGgxTTQgOWgxTTExIDloMU00IDEwaDFNMTEgMTBoMU01IDExaDFNMTAgMTFoMU00IDEyaDhNMyAxM2gxTTEyIDEzaDFNMyAxNGgxMCIgLz4KPHBhdGggc3Ryb2tlPSIjNmQ2ZDZkIiBkPSJNNyAyaDFNNiA2aDFNNSA3aDEiIC8+CjxwYXRoIHN0cm9rZT0iIzE1MTUxNSIgZD0iTTggMmgxTTggM2gxTTggNWgxTTEwIDdoMU0xMCA4aDFNMTAgOWgxTTEwIDEwaDFNOSAxMWgxTTkgMTNoMyIgLz4KPHBhdGggc3Ryb2tlPSIjNDk0OTQ5IiBkPSJNNyAzaDFNNyA1aDFNNSA4aDFNNSA5aDFNNSAxMGgxTTYgMTFoMU00IDEzaDIiIC8+CjxwYXRoIHN0cm9rZT0iIzI0MjQyNCIgZD0iTTcgNmgyTTYgN2gyTTYgOGgyTTkgOGgxTTYgOWg0TTYgMTBoNE03IDExaDJNNiAxM2gzIiAvPgo8L3N2Zz4=')}
.rook.black {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTMgMWgzTTcgMWg2TTMgMmgxTTUgMmgxTTcgMmgxTTEyIDJoMU0zIDNoMU01IDNoM00xMiAzaDFNMyA0aDFNMTIgNGgxTTMgNWgxME00IDZoMU0xMSA2aDFNNSA3aDZNNSA4aDFNMTAgOGgxTTUgOWgxTTEwIDloMU01IDEwaDFNMTAgMTBoMU00IDExaDFNMTEgMTFoMU0zIDEyaDEwTTIgMTNoMU0xMyAxM2gxTTIgMTRoMTIiIC8+CjxwYXRoIHN0cm9rZT0iIzZkNmQ2ZCIgZD0iTTQgMmgxTTUgNmgxTTUgMTFoMU0zIDEzaDEiIC8+CjxwYXRoIHN0cm9rZT0iIzI0MjQyNCIgZD0iTTggMmgzTTggM2gzTTUgNGg1TTcgNmgyTTcgOGgyTTcgOWgyTTcgMTBoMk03IDExaDJNNiAxM2g0IiAvPgo8cGF0aCBzdHJva2U9IiMxNTE1MTUiIGQ9Ik0xMSAyaDFNMTEgM2gxTTEwIDRoMk05IDZoMk05IDhoMU05IDloMU05IDEwaDFNOSAxMWgyTTEwIDEzaDMiIC8+CjxwYXRoIHN0cm9rZT0iIzQ5NDk0OSIgZD0iTTQgM2gxTTQgNGgxTTYgNmgxTTYgOGgxTTYgOWgxTTYgMTBoMU02IDExaDFNNCAxM2gyIiAvPgo8L3N2Zz4=')}
.queen.black {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgMWgyTTYgMmgxTTkgMmgxTTYgM2gxTTkgM2gxTTcgNGgyTTEgNWgxTTE0IDVoMU0yIDZoMk03IDZoMk0xMiA2aDJNMiA3aDFNNCA3aDFNNiA3aDFNOSA3aDFNMTEgN2gxTTEzIDdoMU0yIDhoMU01IDhoMU0xMCA4aDFNMTMgOGgxTTMgOWgxTTEyIDloMU0zIDEwaDFNMTIgMTBoMU00IDExaDFNMTEgMTFoMU00IDEyaDhNMyAxM2gxTTEyIDEzaDFNMyAxNGgxMCIgLz4KPHBhdGggc3Ryb2tlPSIjNmQ2ZDZkIiBkPSJNNyAyaDFNMyA3aDFNMyA4aDEiIC8+CjxwYXRoIHN0cm9rZT0iIzE1MTUxNSIgZD0iTTggMmgxTTggM2gxTTEyIDdoMU0xMSA4aDJNMTEgOWgxTTEwIDEwaDJNOSAxMWgyTTkgMTNoMyIgLz4KPHBhdGggc3Ryb2tlPSIjNDk0OTQ5IiBkPSJNNyAzaDFNNyA3aDFNNCA4aDFNNiA4aDFNNCA5aDJNNCAxMGgyTTUgMTFoMU00IDEzaDIiIC8+CjxwYXRoIHN0cm9rZT0iIzI0MjQyNCIgZD0iTTggN2gxTTcgOGgzTTYgOWg1TTYgMTBoNE02IDExaDNNNiAxM2gzIiAvPgo8L3N2Zz4=')}
.king.black {background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgMWgyTTYgMmgxTTkgMmgxTTYgM2gxTTkgM2gxTTMgNGgzTTcgNGgyTTEwIDRoM00yIDVoMU02IDVoMU05IDVoMU0xMyA1aDFNMiA2aDFNNSA2aDFNNyA2aDJNMTAgNmgxTTEzIDZoMU0yIDdoMU02IDdoMU05IDdoMU0xMyA3aDFNMiA4aDFNNCA4aDFNMTEgOGgxTTEzIDhoMU0zIDloMU01IDloMk05IDloMk0xMiA5aDFNMyAxMGgxTTEyIDEwaDFNNCAxMWgxTTExIDExaDFNNCAxMmg4TTMgMTNoMU0xMiAxM2gxTTMgMTRoMTAiIC8+CjxwYXRoIHN0cm9rZT0iIzZkNmQ2ZCIgZD0iTTcgMmgxTTMgNWgxIiAvPgo8cGF0aCBzdHJva2U9IiMxNTE1MTUiIGQ9Ik04IDJoMU04IDNoMU0xMiA1aDFNMTIgNmgxTTEyIDdoMU0xMiA4aDFNMTEgOWgxTTEwIDEwaDJNOSAxMWgyTTkgMTNoMyIgLz4KPHBhdGggc3Ryb2tlPSIjNDk0OTQ5IiBkPSJNNyAzaDFNMyA2aDFNMyA3aDFNMyA4aDFNNCA5aDFNNCAxMGgyTTUgMTFoMU00IDEzaDIiIC8+CjxwYXRoIHN0cm9rZT0iIzI0MjQyNCIgZD0iTTQgNWgyTTEwIDVoMk02IDZoMU05IDZoMU03IDdoMk03IDhoMk03IDloMk02IDEwaDRNNiAxMWgzTTYgMTNoMyIgLz4KPC9zdmc+')}
