:root {
  --color-error: #e71d2c;
  --color-font: #2c2c2c;
  --color-secondary: #ff9f2e;
  --color-primary: #2ec4b6;
  --color-link: #2e52e2;
  --color-primary-variant: #fefefe;

  --site-header-height: 50px;
}

body {
  background: var(--color-primary-variant);
  color: var(--color-font);
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}


header h1 {
  margin: 0;
}


header a {
  color: var(--color-link);
}

.home {
  padding: 0 1em;
}
