section h1 {
  color: #4f4f4f;
  transition: all 150ms;
}

section h1:hover {
  color: #5f5f5f;
}

h2 {
  color: #4f4f4f;
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

.info {
  font-size: 0.8em;
}

.info span {
  text-transform: capitalize;
}

section {
  padding: 1em;
}

.ply,
.hover-ply {
  width: 60vmin;
  height: 0;
  padding-bottom: 60vmin;
}

img {
  width: 60vmin;
  margin-left: 1em;
}

.ply {
  position: relative;
  margin-left: 1em;
}

#chessmd {
  margin-bottom: 1em;
}
